
#frame{
    background-image: linear-gradient(to bottom right, #4bcffa, #d2dae2);
    width: 500px;
    height:550px;
    margin:0 auto;
    border: 1px solid black;
    font-family: "Nunito Sans", sans-serif;
   }
   #errorText{
    font-size: 20px;
    font-weight: bold;
    color: white;
   }
   .btnDangky{
    font-size: 15px;
    text-decoration: none;
    margin-left: 100px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: center;
    padding: 10px 15px;
    height: 45px;
   }
   .btnDangnhap{
    font-size: 15px;
    text-decoration: none;
    margin-left: 100px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: center;
    padding: 10px 15px;
    height: 45px;
   }
   .a1{
       height: 41px;
       width: 104px;
       background-color: #007bff;
   }
   .nbtnDangnhap{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: center;
    padding: 10px 15px;
   }
   #email,#mk,#tendn,#phone,#address,#btnDangky, #btnDangnhap {
    height: 25px;
    width: 230px;
    font-size: small;
   }
table>tbody>tr>td {
    font-size: large;
}
   .labeltext{
       color: black;
   }
   
   #framee{
    background-image: linear-gradient(to bottom right, #4bcffa, #d2dae2);
    width: 500px;
    height:250px;
    margin:0 auto;
    border: 1px solid black;
    font-family: "Nunito Sans", sans-serif;
   }